* {
  margin: unset;
  padding: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#api-resault {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

h1 {
  margin-block: .5rem;
  align-self: center;
}

.game-card {
  display: flex;
  flex-direction: column;
}

.game-card > h2 {
  text-decoration: underline;
  justify-self: center;
  white-space: nowrap;
}

.game-card > span {
  font-size: 1.25rem;
}